In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix

train_df = pd.read_csv("C:/DATASCIENCE/final_EDA_data.csv")

In [4]:
train_df.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_3,...,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_N,Loan_Status_Y,Married_Label,Property_Area_Label,Self_Employed_Label,Education_Label
0,5849,0.0,146.412162,360.0,1,0,1,1,0,0,...,0,0,0,1,0,1,No,Urban,No,Graduate
1,4583,1508.0,128.000000,360.0,1,0,1,0,1,0,...,0,1,0,0,1,0,Yes,Rural,No,Graduate
2,3000,0.0,66.000000,360.0,1,0,1,0,1,0,...,1,0,0,1,0,1,Yes,Urban,Yes,Graduate
3,2583,2358.0,120.000000,360.0,1,0,1,0,1,0,...,0,0,0,1,0,1,Yes,Urban,No,Not Graduate
4,6000,0.0,141.000000,360.0,1,0,1,1,0,0,...,0,0,0,1,0,1,No,Urban,No,Graduate

In [6]:
train_df.drop(columns=['Married_Label','Property_Area_Label','Self_Employed_Label','Education_Label'], inplace=True)

In [8]:
train_df.head(20)

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_3,...,Dependents_2,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_N,Loan_Status_Y
0,5849,0.0,146.412162,360.0,1,0,1,1,0,0,...,0,1,0,1,0,0,0,1,0,1
1,4583,1508.0,128.000000,360.0,1,0,1,0,1,0,...,0,1,0,1,0,1,0,0,1,0
2,3000,0.0,66.000000,360.0,1,0,1,0,1,0,...,0,1,0,0,1,0,0,1,0,1
3,2583,2358.0,120.000000,360.0,1,0,1,0,1,0,...,0,0,1,1,0,0,0,1,0,1
4,6000,0.0,141.000000,360.0,1,0,1,1,0,0,...,0,1,0,1,0,0,0,1,0,1
5,5417,4196.0,267.000000,360.0,1,0,1,0,1,0,...,1,1,0,0,1,0,0,1,0,1
6,2333,1516.0,95.000000,360.0,1,0,1,0,1,0,...,0,0,1,1,0,0,0,1,0,1
7,3036,2504.0,158.000000,360.0,0,0,1,0,1,1,...,0,1,0,1,0,0,1,0,1,0
8,4006,1526.0,168.000000,360.0,1,0,1,0,1,0,...,1,1,0,1,0,0,0,1,0,1
9,12841,10968.0,349.000000,360.0,1,0,1,0,1,0,...,0,1,0,1,0,0,1,0,1,0
10,3200,700.0,70.000000,360.0,1,0,1,0,1,0,...,1,1,0,1,0,0,0,1,0,1
11,2500,1840.0,109.000000,360.0,1,0,1,0,1,0,...,1,1,0,1,0,0,0,1,0,1
12,3073,8106.0,200.000000,360.0,1,0,1,0,1,0,...,1,1,0,1,0,0,0,1,0,1
13,1853,2840.0,114.000000,360.0,1,0,1,1,0,0,...,0,1,0,1,0,1,0,0,1,0
14,1299,1086.0,17.000000,120.0,1,0,1,0,1,0,...,1,1,0,1,0,0,0,1,0,1
15,4950,0.0,125.000000,360.0,1,0,1,1,0,0,...,0,1,0,1,0,0,0,1,0,1
16,3596,0.0,100.000000,240.0,0,0,1,1,0,0,...,0,0,1,1,0,0,0,1,0,1
17,3510,0.0,76.000000,360.0,0,1,0,1,0,0,...,0,1,0,1,0,0,0,1,1,0
18,4887,0.0,133.000000,360.0,1,0,1,0,1,0,...,0,0,1,1,0,1,0,0,1,0
19,2600,3500.0,115.000000,342.0,1,0,1,0,1,0,...,0,1,0,1,0,0,0,1,0,1

In [10]:
X = train_df.drop(columns=['Loan_Status_Y'], errors='ignore')
y = train_df['Loan_Status_Y']

In [ ]:


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
lr = LogisticRegression(max_iter=1000)
lr.fit(X_train, y_train)
lr_preds = lr.predict(X_test)

c:\Users\sandhiya\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\linear_model\_logistic.py:470: ConvergenceWarning: lbfgs failed to converge after 1000 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=1000).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [15]:
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)
dt_preds = dt.predict(X_test)

In [17]:
from sklearn.metrics import accuracy_score
print("Logistic Regression Accuracy:", accuracy_score(y_test, lr_preds))

Logistic Regression Accuracy: 1.0

In [18]:
print("Decision Tree Accuracy:", accuracy_score(y_test, dt_preds))

Decision Tree Accuracy: 1.0

In [20]:
print("Confusion Matrix (LogReg):")
print(confusion_matrix(y_test, lr_preds))

Confusion Matrix (LogReg):
[[43  0]
 [ 0 80]]

In [21]:
print("Classification Report (DT):")
print(classification_report(y_test, dt_preds))

Classification Report (DT):
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        43
           1       1.00      1.00      1.00        80

    accuracy                           1.00       123
   macro avg       1.00      1.00      1.00       123
weighted avg       1.00      1.00      1.00       123

In [ ]:
import joblib
joblib.dump(lr, 'final_model.pkl')

['final_model.pkl']

In [23]:
loaded_model = joblib.load('final_model.pkl')
predictions = loaded_model.predict(X_test)